<div style='font-size: 36pt; padding-bottom: 40px;'>
	Municipal Organs of the Gitchee Gumee
</div>

<div style='font-size: 24pt; padding-bottom: 40px;'>
	In a World that mashes hand-knit Zeppelins, Block Party Politics, Sky Pirates, the Hypermodern League, and Banjo-Playing Saboteurs.
</div>

<img src="/images/aerodromes.png" width="600px" />

<% if (! session[:player_id]) %>
<div style='padding: 30px 0px 30px 0px'>Please <a href="#" id="loginlink"><img src="https://browserid.org/i/sign_in_green.png" alt="sign in" /></a> to play.</div>
<% end %>

<% form_tag('/application/verify_browserid', :method => 'POST', :id => 'browserIDform') do %>
<% end %>
