<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Gitcheegumee | <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'standard' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js' %>
  <%= javascript_include_tag 'https://browserid.org/include.js' %>
  <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>  
</head>
<body>

<p style="color: green"><%= notice %></p>

<%= yield %>

<div style="position: absolute; top: 100px; left: 30px; font-size: 10pt">

<% if (session[:admin]) %>
	<div><%= link_to "edit locations", :controller => 'locations', :action => 'index' %></div>
	<div><%= link_to "edit players", :controller => 'players', :action => 'index' %></div>
	<div><%= link_to "edit items", :controller => 'items', :action => 'index' %></div>
	<div><%= link_to "edit passages", :controller => 'passages', :action => 'index' %></div>
<% end %>

<div><%= link_to "logout", :controller => 'application', :action => 'logout' %>
<div><%= link_to "play!", :controller => 'players', :action => 'play', :id => session[:player_id] %>
<div>'<%= session[:email] %>'</div>
</div>

</body>
</html>
